.fill {
  height: 100%;
  min-height: rem(120px);
}

.chart {
  display: flex;
  gap: var(--mantine-spacing-sm);
  height: 100%;
}

.yAxis {
  flex: 0 0 auto;
}

.bars {
  flex: 1 1 auto;
  height: 100%;
  border-bottom: 1px solid var(--app-color-border-default);
  border-left: 1px solid var(--app-color-border-default);
  padding-inline: var(--mantine-spacing-xs);
}

.bar {
  flex: 1 1 0;
}

.tableRow {
  padding-block: rem(10px);
  border-bottom: 1px solid var(--app-color-border-default);

  &[data-header] {
    padding-block: rem(8px);
  }
}

.cell {
  flex: 1 1 0;
}

.grow {
  flex: 1 1 auto;
  min-width: 0;
}
