.tools {
  position: sticky;
  top: 0;
  height: 0;
  z-index: var(--app-z-drawer);
}

.drawerInner {
  position: absolute;
  pointer-events: none;
}

.drawerContent {
  height: calc(100dvh - var(--app-navbar-height));
  pointer-events: auto;
  border-inline-start: 1px solid var(--app-color-border-default);
}

.preview {
  height: var(--app-chart-height-default);
}
